* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  border: border-box;
  background-color: #e2e7e6;
}

.btn {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 2px;
  width: 30px;
}
